@page
@model MyApp.Pages._2D_Model._2d_modelModel
@{
<div class="content-container">
        <div class="container body-content">
    <table class="table">
        <thead>
            <tr>
                <th>well</th>
                <th>bhp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.two_model)
            {
                <tr>
                    <td>@item.uwi</td>
                    <td>@item.value</td>
                </tr>
            }
        </tbody>

    </table>
    </div>
    </div>
}
